{% load static %}

<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="shortcut icon" href="{% static 'img/abelha.png' %}">

   	<title>Obras da Natureza</title>
  </head>
  <style type="text/css">
  	body {
      color: #000000;
      font-family: cursive;
      margin-left: 210px;
      margin-right: 210px;
    }
    .btn {
      background-color: #FFFFFF;
      color: #F14958;
    }
    .btn:hover {
      background-color: #F14958;
      color: #FFFFFF;
    }
    .topnav {
      background-color: #F14958;
      overflow: hidden;
    }
    .topnav a {
      float: left;
      color: #FFFFFF;
      text-align: center;
      padding: 12px 14px;
      text-decoration: none;
      font-size: 17px;
      font-family: cursive;
    }
    .topnav a:hover {
      background-color: #FFFFFF;
      color: #F14958;
    }
    .topnav a.active {
      background-color: #FFFFFF;
      color: #F14958;
    }
  </style>
  <body>
    <a><img src="{% static 'img/1.png' %}" alt="capa" class="img-fluid"></a>
    <div class="topnav">
      <a class="active" href="#home">Menu</a>
      <a href="#news">News</a>
      <a href="#contact">Contact</a>
      <a href="#about">About</a>
    </div>

  	{% block content %}
    {% endblock %}

    <img src="{% static 'img/2.png' %}" alt="rodapé" class="img-fluid">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>