{% extends "stock/base.html" %}

{% block content %}

{% load static %}

{% for product in object_list %}
<hr>
<div>
    <center><h3 style="color: #FFCC4D">{{ product.nome }}</h3></center>
    <center><h6 style="color: #F9C0BF">{{ product.quantidade }} em estoque</h6></center>
</div>

<div class="card" style="margin-left: 120px; margin-right: 120px">
  <img src="{{ product.imagem.url }}" class="img-fluid" alt="imagem" style="width: 600px; height: 400px">
  <p class="card-text">{{ product.descricao|safe }}</p>
  <div class="row">
      <div class="col-sm-6">
          <div class="card-body">
            <form method="POST" action="{% url 'add-stock' product.id %}">
                {% csrf_token %}
                <div class="form-group">
                    <input type="number" class="form-control mt-1" name="quantidade" min="1">
                    <input type="submit" class="form-control btn btn-outline-danger mt-1" value="Adicionar ao Estoque">
                </div>
            </form>
          </div>
      </div>
      <div class="col-sm-6">
          <div class="card-body">
            <form method="POST" action="{% url 'remove-stock' product.id %}">
                {% csrf_token %}
                <div class="form-group">
                    <input type="number" class="form-control mt-1" name="quantidade" min="1">
                    <center><input type="submit" class="form-control btn btn-outline-danger mt-1" value="Remover do Estoque"></center>
                </div>
            </form>
          </div>
      </div>
  </div>
</div>
<br>

{% endfor %}

{% endblock %}